h1 {
  font-size: 2em;
  transition: all 0.3s;
  color: blue;
  display: grid;
}
h1:hover {
  transform: translateX(50px);
  color: red;
}

.bg {
  background-image: url(images/profile.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
}
